
/*Main body classes*/ 

html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to bottom, #E4CCFF, #BDE3FF);
  background-size: cover; /* Ensures the gradient covers the full screen */
  background-attachment: fixed; /* Optional, for smoother scrolling */
}

/* Flex container for the entire page */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* The main content should take up the remaining space */
.content {
  flex: 1;
}

/* Header styles */
.header {
  position: relative;
  height: 300px; /* Adjust as needed */
  background-image: url('head\ banner.png'); /* Replace with your image path */
  background-position: right center; /* Align the image to the right */
  background-size: cover; /* Ensure the image covers the header */
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Text container */
.text-header-container {
  position: absolute;
  text-align: left;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: white;
  padding-left: 10px;
}

/* Styling for text lines */
.big-text-header {
  font-size: 48px;
  margin-bottom: 5px;
  display: inline-flex;
  align-items: center; /* Aligns pills vertically */
}

.small-text-header {
  font-size: 24px;
}

/* Skills container to the right of h1 */
.skills-header-container {
  display: flex;
  align-items: center; /* Centers "+" sign vertically between the pills */
  justify-content: flex-start;
  gap: 5px;
  position: relative;
}

/* Styling for "+" sign */
.plus-sign {
  font-size: 16px;
  color: white;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .text-header-container {
    position: absolute;
    left: 0px;
    bottom: 15px;
    transform: none;
  }

  .big-text-header {
    font-size: 24px;
  }

  .small-text-header {
    font-size: 12px;
  }
}

.resume-pill {
  display: flex;
  align-items: center; /* Vertically center the text and image */
  padding: 0 16px; /* Horizontal padding */
  height: 36px; /* Set height to 36px */
  color: #ffffff;
  background-color: #000000;
  border-radius: 50px; /* Makes the pill shape */
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none; /* Removes underline */
  transition: transform 0.2s ease-in-out;
}

.resume-icon {
  width: 16px; /* Adjust the size of the image */
  height: 16px;
  margin-right: 4px;
}

.images-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) {
  .images-container {
    top: 10px;
    bottom: auto;
  }
}

.small-image {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.2s ease-in-out;
}

.resume-pill:hover {
  transform: scale(1.1);
}

.small-image:hover {
  transform: scale(1.1);
}




.main-text-h2 {
  font-size: 36px;
  padding: 10px;
  padding-bottom: 0;
  color: white;
  margin: 0px;
}

section {
  margin-bottom: 20px;
}


.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 20px;
  background-color: #121212;
}

.skill-pill {
  display: inline-block;
  padding: 8px 16px;
  color: #000000;
  border-radius: 50px; /* Makes the pill shape */
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap; /* Prevents text from wrapping */
  text-decoration: none; /* Removes underline */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.skill-pill.violet {
  background-color: #E4CCFF;
}

.skill-pill.blue {
  background-color: #BDE3FF;
}

a.skill-pill.violet:hover {
  background-color: #ae67ff; 
}

a.skill-pill.blue:hover {
  background-color: #69c1ff; 
}





/* Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Default for mobile */
  gap: 16px; /* Adjust gap as needed */
  padding: 16px;
}

@media (min-width: 1920px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for more than FullHD */
  }
}

@media (min-width: 768px) and (max-width: 1919px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for FullHD */
  }
}


/* Grid Items */
.grid-item {
  display: flex;
  flex-direction: column;
}

.grid-item img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: block;
}

/* Info Section */
.info {
  display: flex;
  justify-content: space-between;
  margin-top: 8px; /* Space between image and info section */
}

.title {
  font-size: 24px;
  font-weight: bold;
}

a.skill-pill.small{
  font-size: 12px;
  padding: 4px 12px;
  border: 2px solid #121212; /* Adds a black outline */
}

.skills-title-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

.contact-link {
  color: #ffffff;
  text-decoration: none; /* Remove default underline */
  position: relative;
  display: inline-block;
  padding: 4px;
  padding-left: 10px;
}

.contact-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px; /* Thickness of the underline */
  width: 0; /* Start with no underline */
  background-color: #ffffff; /* Color of the underline */
  transition: width 0.3s ease; /* Smooth transition on hover */
}

.contact-link:hover::after {
  width: 100%; /* Underline expands fully on hover */
}

@keyframes underline-animation {
  from {
    width: 0; /* Start at 0% width */
  }
  to {
    width: 100%; /* Expand to 100% width */
  }
}

/* Footer styling */
footer {
  background-color: #121212;
  color: white;
  text-align: left;
  padding: 0px;
  width: 100%;
}